@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 0.25s ease-in;
}

.priority .priority--edit {
  opacity: 0.3;
  transition: opacity 0.25s ease-in;
}

.priority .priority--edit:hover,
.priority .priority--edit:focus,
.priority .priority--edit:focus-visible {
  opacity: 1;
}

.priority .priority--input input {
  font-size: var(--font-size-6);
  text-indent: var(--space-4);
}

.priority .priority--input button {
  font-size: var(--font-size-6);
}

.cross-divider {
  width: 1px;
  background: var(--gold-6);
  transform: rotate(35deg);
}

.header {
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  padding: var(--space-4);
  color: var(--gray-1);
  font-size: var(--font-size-4);
  background: var(--color-background);
}

.header-links {
  opacity: 0.3;
  transition: opacity 0.25s ease-in;
}

.header:hover .header-links {
  opacity: 1;
}

.header-logo-full {
  clip-path: polygon(0 0, 20px 0, 20px 100%, 0% 100%);
  transition: all 0.25s 0.25s cubic-bezier(0.23, 1, 0.32, 1);
}

.header:hover .header-logo-full {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
